default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1 # Use the ref you want to point at
    hooks:
      - id: trailing-whitespace
        stages: [commit, manual]
      - id: pretty-format-json
        stages: [commit, manual]
        args: [--autofix]
        exclude: .vscode
      - id: mixed-line-ending
        stages: [commit, manual]
      - id: fix-encoding-pragma
        stages: [commit, manual]
      - id: end-of-file-fixer
        stages: [commit, manual]
      - id: detect-private-key
        stages: [commit, manual]
      - id: debug-statements
        stages: [commit, manual]
      - id: check-yaml
        stages: [commit, manual]
        args: ["--unsafe"]
      - id: check-xml
        stages: [commit, manual]
      - id: check-toml
        stages: [commit, manual]
      - id: check-merge-conflict
        stages: [commit, manual]
      - id: check-json
        stages: [commit, manual]
        exclude: .vscode
      - id: check-executables-have-shebangs
        stages: [commit, manual]
      - id: check-docstring-first
        stages: [commit, manual]
      - id: fix-byte-order-marker
        stages: [commit, manual]
      - id: check-builtin-literals
        stages: [commit, manual]
      - id: check-ast
        stages: [commit, manual]
      - id: check-added-large-files
        stages: [commit, manual]
        args: ["--maxkb=2500"]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.9
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.8.0
    hooks:
      - id: isort
        additional_dependencies: [toml]
  - repo: https://github.com/pycqa/pylint
    rev: v2.9.3
    hooks:
      - id: pylint
        args: [--rcfile, .pylintrc, --fail-under, "10.0", stochastic_optimization]
        pass_filenames: false
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v0.961
  #   hooks:
  #     - id: mypy
  #       args:
  #         [
  #           --show-error-codes,
  #           --show-traceback,
  #           stochastic_optimization,
  #         ]
  #       pass_filenames: false
  #       additional_dependencies:
  #         - celery==5.2.3
  #         - cryptography==3.4.7
  #         - fastapi==0.78.0
  #         - pydantic==1.9.1
  #         - pytest==6.2.5
  #         - sqlalchemy==1.4.37
  #         - sqlalchemy2-stubs==0.0.2-alpha.24
  #         - types-geoip2==3.0.0
  #         - types-python-dateutil==2.8.17
  #         - types-PyYAML==6.0.8
  #         - types-redis==4.3.0
  #         - types-requests==2.27.30
  - repo: https://github.com/yunojuno/pre-commit-xenon
    rev: cc59b0431a5d072786b59430e9b342b2881064f6
    hooks:
    - id: xenon
      pass_filenames: false
      args: ["--max-absolute","B","--max-modules","B","--max-average","B","stochastic_optimization"]
  - repo: https://github.com/Lucas-C/pre-commit-hooks-bandit
    rev: v1.0.5
    hooks:
      - id: python-bandit-vulnerability-check
        args: [--skip, "B404,B607,B603", --recursive, stochastic_optimization]
  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.3.0
    hooks:
      - id: python-safety-dependencies-check
        args: [
          -i, "44634",
          -i, "44716",
          -i, "44485",
          -i, "44715",
          -i, "44717",
          -i, "44487",
          -i, "44524",
          -i, "44525",
          -i, "44486",
          -i, "42194",
          -i, "47794",
        ]
